<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/jee 
        http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang 
        http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
   
    <context:component-scan base-package="music.service.mvc"/>

    <context:annotation-config />
    <tx:annotation-driven proxy-target-class="true" />
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	

 	<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
	    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	    <property name="prefix" value="/WEB-INF/view/"/>
	    <property name="suffix" value=".jsp"/>
	</bean>
	
    <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="classpath:jdbc.properties" />

    <bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property name="hibernateProperties">
			<props>
                <prop key="hibernate.hbm2ddl.auto">${datasource.hbm2ddl.auto}</prop>
                <prop key="hibernate.jdbc.use_streams_for_binary">${datasource.use_streams_for_binary}</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.connection.charSet">UTF-8</prop>
                <prop key="connection.characterEncoding">UTF-8</prop>
                <prop key="hibernate.connection.Useunicode">true</prop>
            </props>
		</property>
	</bean>
	
	<mvc:annotation-driven>
		<mvc:argument-resolvers>
				<bean class="org.springframework.security.web.bind.support.AuthenticationPrincipalArgumentResolver" />
		</mvc:argument-resolvers>
	</mvc:annotation-driven>
	
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />
    <mvc:resources mapping="/audiojs/**" location="/audiojs/" />
    
	<bean id="mvcCRUD" class="music.service.mvc.service.CRUDMVCImpl"/>
	<bean id="daoCRUD" class="music.service.orm.dao.DaoCRUDImpl"/>
	<bean id="auth" class="music.service.mvc.security.auth.AuthAction"/>
	<bean id="sAction" class="music.service.mvc.controllers.actions.SearchActionImpl" />
	<bean id="plAction" class="music.service.mvc.controllers.actions.PersonalListActionImpl" />
 	<bean id="customUserDetailsService" class="music.service.mvc.security.UserDetailsServiceImpl" />
    <bean class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" id="dataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/musicservice"/>
        <property name="username" value="postgres"/>
        <property name="password" value="123"/>
    </bean>

</beans>
